In [1]:
import pandas as pd

In [2]:
small_world = pd.read_hdf("/home/nikoleta/src/jobs/data/ch4_experiment/watts_strogatz.h5")

In [3]:
len(small_world), max(small_world.tournament_id)

(320539, 40049)

In [4]:
# fixing index 
small_world.index = range(len(small_world))

In [5]:
small_world.columns

Index(['P', 'R', 'S', 'T', 'average_neighborhood_score', 'average_score',
       'clustering', 'connectivity', 'cooperating_ratio', 'degree',
       'initial_neighbourhood_size', 'neighborhood_size', 'neighbors',
       'parameter', 'player_index', 'player_name', 'ranking', 'seed',
       'tournament_id'],
      dtype='object')

In [6]:
clusters = small_world.groupby('tournament_id')['clustering'].median()
connectivity = small_world.groupby('tournament_id')['connectivity'].median()
degree = small_world.groupby('tournament_id')['degree'].median()

In [7]:
df = pd.concat([clusters, connectivity, degree], axis=1)

In [9]:
df.tail()

               clustering  connectivity  degree
tournament_id
40045            0.555411             4     6.0
40046            0.590837             3     6.0
40047            0.541775             5     6.0
40048            0.565584             4     6.0
40049            0.580087             4     6.0

In [10]:
df.describe()

         clustering  connectivity        degree
count  40049.000000  40049.000000  40049.000000
mean       0.484575      2.726061      3.795700
std        0.329244      1.924927      1.901321
min        0.000000      0.000000      1.000000
25%        0.212121      1.000000      2.000000
50%        0.500000      2.000000      4.000000
75%        0.742328      4.000000      5.500000
max        1.000000      8.000000      8.500000

In [11]:
binomial = pd.read_hdf("/home/nikoleta/src/jobs/data/ch4_experiment/binomial.h5")

In [13]:
len(binomial), max(binomial.tournament_id)

(198238, 15954)

In [14]:
# fixing index 
binomial.index = range(len(binomial))

In [15]:
clusters = binomial.groupby('tournament_id')['clustering'].median()
connectivity = binomial.groupby('tournament_id')['connectivity'].median()
degree = binomial.groupby('tournament_id')['degree'].median()
df = pd.concat([clusters, connectivity, degree], axis=1)

In [16]:
df.describe()

         clustering  connectivity        degree
count  15954.000000  15954.000000  15954.000000
mean       0.600146      5.227968      7.153441
std        0.307581      4.379221      4.599396
min        0.000000      0.000000      1.000000
25%        0.373228      2.000000      3.500000
50%        0.645833      4.000000      6.000000
75%        0.866053      7.000000     10.000000
max        1.000000     21.000000     21.000000

In [18]:
complete = pd.read_hdf("/home/nikoleta/src/jobs/data/ch4_experiment/complete.h5")

In [19]:
len(complete), max(complete.tournament_id)

(12740, 490)

In [21]:
# fixing index 
complete.index = range(len(complete))

In [22]:
clusters = complete.groupby('tournament_id')['clustering'].median()
connectivity = complete.groupby('tournament_id')['connectivity'].median()
degree = complete.groupby('tournament_id')['degree'].median()
df = pd.concat([clusters, connectivity, degree], axis=1)

In [23]:
df.describe()

       clustering  connectivity      degree
count  490.000000    490.000000  490.000000
mean     0.979592     25.000000   25.000000
std      0.141536     14.156588   14.156588
min      0.000000      1.000000    1.000000
25%      1.000000     13.000000   13.000000
50%      1.000000     25.000000   25.000000
75%      1.000000     37.000000   37.000000
max      1.000000     49.000000   49.000000